<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132945876670-2umq45adjenusknfso0au64e1mbvn4uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132945876670-2umq45adjenusknfso0au64e1mbvn4uj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132945876670-80n1bt32gja7m1fin1tpn38pp1ser4c4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE-_iZ1zucbSErPj394qLo59XESaSBszU</string>
	<key>GCM_SENDER_ID</key>
	<string>132945876670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clean-notes.ios</string>
	<key>PROJECT_ID</key>
	<string>clean-notes-eb076</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-notes-eb076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132945876670:ios:971757900330de0deeb0ef</string>
	<key>DATABASE_URL</key>
	<string>https://clean-notes-eb076-default-rtdb.firebaseio.com</string>
</dict>
</plist>